

    body {
        background-color: rgb(2, 5, 10);
        color: rgb(0, 161, 196);
        font-family: 'Orbitron', sans-serif;
        display: flex;             
        flex-direction: column;    
        align-items: center;     
        
    }

    .tab {
        justify-items: left;
    }

    h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 50px;
    }

    p {
        text-align: center;
        font-size: 25px;
    }

    .card {
    background: rgb(2, 5, 10);
    padding: 40px;
    width: 900px;
    border-radius: 20px;
    color: rgb(0, 161, 196);
    margin: 0 auto;
    
    border: 2px solid rgb(0, 161, 196);

    box-shadow:
        0 0 10px rgba(0,161,196,0.5),
        0 0 40px rgba(0,161,196,0.2);

    transition: 0.3s ease;
}


    #first {
        background-color: rgb(0, 6, 12);
        border: none;
        border-radius: 12px;
        height: 50px;
        width: 150px;
        font-size: 25px;
        color: rgb(0, 161, 196);
        border-color: rgb(0, 161, 196);
        cursor: pointer;
        border: 2px solid rgb(0, 161, 196);
        font-family: 'Orbitron', sans-serif;
    }
    #second {
        background-color: rgb(0, 6, 12);
        border: none;
        border-radius: 12px;
        height: 50px;
        width: 150px;
        font-size: 25px;
        color: rgb(0, 161, 196);
        border-color: rgb(0, 161, 196);
        cursor: pointer;
        border: 2px solid rgb(0, 161, 196);
        font-family: 'Orbitron', sans-serif;
    }
    

   #second:hover {
        box-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 3px rgb(0, 161, 196);
        transition: 0.3s ease;
   }

   #second:active {
        background-color: rgb(0, 161, 196);
    }

    #first:hover {
        box-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 3px rgb(0, 161, 196);
        transition: 0.3s ease;
   }

   #first:active {
        background-color: rgb(0, 161, 196);
    }

    .profile-img {
     width: 150px;
     border-radius: 50%;
     display: inline-block;   
     margin-bottom: 20px;
     border: 3px solid rgb(0, 161, 196); 

    box-shadow:
        0 0 10px rgba(0,161,196,0.6),
        0 0 30px rgba(0,161,196,0.3);
}

@view-transition {
  navigation: auto;
}



