

    body {
        background-color: rgb(2, 5, 10);
        color: rgb(0, 129, 158);
        font-family: 'Rajdhani', sans-serif;
        display: flex;             
        flex-direction: column;    
        align-items: center;   
        background: radial-gradient(circle at 20% 30%, rgba(0, 212, 255, 0.15), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(0, 212, 255, 0.1), transparent 40%),
              #05070a;
        animation: glowShift 10s ease-in-out infinite alternate; 
        margin: 0;
        min-height: 100vh;
        background: rgb(2, 5, 10);
        overflow-x: hidden;
        position: relative;
        
    }

    .tab {
        justify-items: left;
    }

    h1 {
        margin-top: 50px;
        text-align: center;
        font-size: 50px;
        font-family: 'Orbitron', sans-serif;
        position: relative;
        animation: glowBreath 3s ease-in-out infinite alternate;
    }


    p {
        text-align: left;
        font-size: 25px;
        margin-top: 25px;
        font-family: 'Rajdhani', sans-serif;
    }

    .card {
    width: min(900px, 92vw);
    padding: 50px;

    border-radius: 20px;

    background: rgba(2, 5, 10, 0.65); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(0, 212, 255, 0.4);

    box-shadow:
    0 0 15px rgba(0,161,196,0.25),
    inset 0 0 30px rgba(0,161,196,0.08);

  transition: transform .3s ease, box-shadow .3s ease;
}


    #first {
        background-color: rgb(0, 6, 12);
        border: none;
        border-radius: 12px;
        height: 50px;
        width: 150px;
        font-size: 25px;
        color: rgb(0, 161, 196);
        border-color: rgb(0, 161, 196);
        cursor: pointer;
        font-family: 'Orbitron', sans-serif;
        background: rgba(2, 5, 10, 0.65); 
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(0, 212, 255, 0.4);
        box-shadow:
        0 0 15px rgba(0,161,196,0.25),
        inset 0 0 30px rgba(0,161,196,0.08);
        font-family: 'Rajdhani', sans-serif;

  transition: transform .3s ease, box-shadow .3s ease;
    }
    #second {
        background-color: rgb(0, 6, 12);
        border: none;
        border-radius: 12px;
        height: 50px;
        width: 150px;
        font-size: 25px;
        color: rgb(0, 161, 196);
        border-color: rgb(0, 161, 196);
        cursor: pointer;
        font-family: 'Orbitron', sans-serif;
        background: rgba(2, 5, 10, 0.65); 
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(0, 212, 255, 0.4);
        box-shadow:
        0 0 15px rgba(0,161,196,0.25),
        inset 0 0 30px rgba(0,161,196,0.08);
        font-family: 'Rajdhani', sans-serif;
    }
    

   #second:hover {
        box-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 3px rgb(0, 161, 196);
        transition: 0.3s ease;
   }

   #second:active {
        background-color: rgba(0, 212, 255, 0.4);
    }

    #first:hover {
        box-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 3px rgb(0, 161, 196);
        transition: 0.3s ease;
   }

   #first:active {
        background-color: rgba(0, 212, 255, 0.4);
    }

    .profile-img {
     width: 150px;
     border-radius: 50%;
     display: inline-block;   
     margin-bottom: 20px;
     border: 1px solid rgba(0, 212, 255, 0.4);

    box-shadow:
        0 0 10px rgba(0,161,196,0.6),
        0 0 30px rgba(0,161,196,0.3);
}

@view-transition {
  navigation: auto;

  
}



body::before,
body::after {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(0, 212, 255, 0.15), transparent 70%);
  filter: blur(120px);
  z-index: -1;
  animation: fogMove 40s ease-in-out infinite alternate;
}

body::before {
  top: -200px;
  left: -200px;
}

body::after {
  bottom: -200px;
  right: -200px;
  animation-duration: 60s;
}

@keyframes fogMove {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(200px, 150px);
  }
}

@keyframes glowBreath {
  0% {
    text-shadow:
      0 0 2px rgba(0, 212, 255, 0.6),
      0 0 5px rgba(0, 212, 255, 0.4),
      0 0 7px rgba(0, 212, 255, 0.2);
  }
  100% {
    filter: drop-shadow(0 0 7px rgba(0, 212, 255, 0.7));

  }
}

.socials{
  display:flex;
  gap: 36px;
  justify-content:center;
  align-items:center;
  margin-top: 30px;
}

.social-btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content:center;

  background: rgba(0, 212, 255, 0.12);
  border: 1px solid rgba(0, 212, 255, 0.55);

  box-shadow:
    0 0 14px rgba(0, 212, 255, 0.55),
    0 0 40px rgba(0, 212, 255, 0.22);

  transition: transform .25s ease, box-shadow .25s ease;
  text-decoration: none;
}

.social-btn:hover{
  transform: translateY(-6px) scale(1.04);
  box-shadow:
    0 0 22px rgba(0, 234, 255, 0.85),
    0 0 70px rgba(0, 234, 255, 0.35);
}

.social-btn:active{
  transform: scale(0.96);
}

.social-btn img{
  width: 21px;
  height: 21px;
  object-fit: contain;
  display:block;
}







